.adminUsersContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 100vh;
}
.tableUsers{
    overflow-x:auto;
    height: 100vh;
    overflow-y: auto;
}
.trash{
    cursor: pointer;
    color: orangered;
    &:hover{
        color: rgb(80, 22, 0);
    }
}

.notAllowed{
    cursor: not-allowed;;
}

@media screen and (max-width:700px) {
    .adminUsersContainer{
        grid-template-columns: 1fr;
        height: auto;
    }
}