.fullContainerResetPassword{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .formContainerResetPassword{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 50vh;
        width: 40%;
        padding: 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.744),-5px -5px 10px rgba(0, 0, 0, 0.744);
        >.resetpassworddiv{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            width: 80%;
            gap: 3vh;
            >form{
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 3vh;
                >input{
                    padding: 1vw;
                    font-size: 1.2rem;
                    color: orangered;
                    border: none;
                    border-bottom: 2px solid orangered;
                    &:last-child{
                        align-self: center;
                        padding: 0;
                        width: 30%;
                        height: 40px;
                        border-radius: 10px;
                        border: none;
                        background-color: orangered;
                        color: white;
                        box-shadow: 3px 3px 5px rgb(216, 136, 106);
                        &:hover{
                            color: orangered;
                            background-color: white;
                        }

                    }
                    &:focus{
                        outline: none;
                    }
                }
                >div{
                    display: flex;
                    >.updateProfileImg{
                        height: 50px;
                        width: 50px;
                    }
                    input[type=file]{
                        margin-left: 40px;
                        border: none;
                        &::file-selector-button {
                            width: 100%;
                            height: 50px;
                          }
                    }
                } 
                .notallowed{
                    cursor: not-allowed;
                }
            }
        }
    }
}


@media screen and (max-width:1000px) {
    .formContainerResetPassword{
        width: 60% !important;
    }
}
@media screen and (max-width:600px) {
    .fullContainerResetPassword{
        align-items: flex-start;
        height: auto;
        .formContainerResetPassword{
            box-shadow: none;
            width: 100% !important;
            padding-top: 20vh;
        }
    }    
}

@media screen and (max-width:350px) {
    .fullContainerResetPassword{
        align-items: flex-start;
        height: auto;
        .formContainerResetPassword{
            width: 100% !important;
            padding-top: 20vh;
            >.resetpassworddiv{
                width: 100%;
                >form{
                    >input{
                        &:last-child{
                            width: 50%;
                        }
                    }
                }               
            }
        }
    }    
}